<!-- Footer Component -->
<footer class="footer bg-dark-yellow text-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p>
                    Asoniya is dedicated to showcasing the beauty, culture, and
                    heritage of Ethiopia through seamless travel experiences.
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Legal Information</h5>
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="{% url 'terms_conditions' %}"
                            class="text-black"
                            >Terms and Conditions</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'privacy_policy' %}"
                            class="text-black"
                            >Privacy Policy</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Contact Us</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> Addis Ababa, Ethiopia
                </p>
                <p><i class="fas fa-envelope"></i> info@asoniya.com</p>
            </div>
            <div class="text-center mt-4 w-100">
                <p>&copy; 2024 Asoniya. All rights reserved.</p>
                <div class="social-icons">
                    <a href="#" class="text-black mr-3"
                        ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#" class="text-black mr-3"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="#" class="text-black mr-3"
                        ><i class="fab fa-instagram"></i
                    ></a>
                    <a href="#" class="text-black"
                        ><i class="fab fa-linkedin-in"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</footer>
